#number {
    font-size: small;
}

#pile {
    font-size: small
}
#order {
    font-size: small
}

#word {
    font-size: x-large;
    padding: 50px;
    text-align: center;
}
#sentence {
    font-size: x-large;
    padding: 50px;
    text-align: center;
}

#front {
   font-size: small;
}

#button_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
    margin: 10px;
}