* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
}

#number {
    font-size: small;
}

#pile {
    font-size: small
}

#order {
    font-size: small;
}

#word {
    font-size: x-large;
    padding: 50px;
    text-align: center;
}

#sentence {
    font-size: x-large;
    text-align: center;
}

label {
    text-align:center
}

#practiceSentenceIn {
    margin-top: 50px;
    padding: 5px;
    font-size: x-large;
    width: 70%;
    outline: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#front {
   font-size: small;
}

#button_container {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
    margin: 10px;
}